*{
    margin: 0;
    padding: 0;
    font-size: 1.2vw;
}

body{
    background: linear-gradient(to right, #184E77, #184E77);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    max-width: 100vw;
}



/*----background----*/
.aurora-container{
    position: fixed;
    margin: auto;
    max-width: 100vw;
    z-index: -1;
}

#gradient1{
    position: relative;
    float: right;
    right: -40em;
    height: 20em;
    width: 20em;
    border-radius: 50%;
    background: rgba(52, 160, 164, 0.5);
    filter: blur(100px);
}

#gradient2{
    position: relative;
    float: left;
    top: 300px;
    height: 20em;
    width: 20em;
    border-radius: 50%;
    background: rgba(82, 182, 154, 0.3);
    filter: blur(100px);
}

#gradient3{
    position: relative;
    float: left;
    left: -20em;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background: rgba(168, 203, 193, 0.5);
    filter: blur(50px);
}



/*----navbar----*/
.nav{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
}

.nav-list{
    font-family: 'Montserrat', sans-serif;
    font-size: min(0.9vw, 1em);
    background-color: transparent;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.nav-item{
    list-style: none;
    white-space: nowrap;
    padding: 2vh 4vw 2vh 4vw;
    transition: 0.1s;
    font-weight: 200;
}

a{
    color: white;
    text-decoration: underline 1px rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

a:hover{
    text-decoration-color: white;
}


h1{
    font-family: 'Yeseva One', cursive;
    font-size: 5em;
    font-weight: normal;
    position: relative;
    z-index: 1;
    text-align: left;
    margin: 0 auto;
    margin-left: 15%;
    top: 12rem;
    padding-bottom: 5rem;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: min(1.4vw, 1em);
    line-height: 1.5em;
    font-weight: 200;
    max-width: 55em;
    top: 13vh;
    text-align: left;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-left: 15%;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    top: 30%;
    left: 50%;
    line-height: 2em;
    color: black;
}


/*----Main----*/
.description{
    position: relative;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 13rem;
    margin-bottom: 13rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.description p{
    max-width: 55em;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 auto;
}



/*----FOOTER----*/
.footerwrapper{
    position: relative;
}

.footerwave{
    position: relative;
    top: 6rem;
}

.footer{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    width: 100%;
    gap: 20%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
}

#footerinfo{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: left;
    list-style-type: none;
}

#sitemap{
    text-align: start;
    text-decoration: none;
    font-weight: 200;
    list-style: none;
}

#sitemap a{
    color: black;
}

#sitemap a:hover{
    text-decoration: underline;
}

.title{
    font-size: 1.5rem;
    font-weight: 200;
    text-decoration: underline;
}

/*----animations----*/
@keyframes colorchange{
    0%{background-color: rgba(255, 255, 255, 0);
       color: white;}
    100%{background-color:rgba(24, 78, 119, 0.6);
        color: black;}
}

@keyframes bounce{
    to { transform: scale(1.1); }
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}